 <footer>
  <div>
    <div class="footer_class d-flex flex-column flex-md-row">
      <div class="coyright 2023">
        Copyright 2023 | all rights reserved<span> |</span>
        <span class="text-capitalize">
            Company 
        </span>
      </div>
      <div>
        <a class="footer-a" href="#">Contact</a>
      </div>

    </div>

  </div>

</footer> 

