<h2 class="crear">Create movie</h2>

<form action="/peliculas/save" method="POST">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control w-50"
      name="title"
      id="title"
      placeholder="Enter name"
    />
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">Year</label>
    <input
      type="text"
      class="form-control w-50"
      name="year"
      id="year"
      placeholder=" year "
    />
  </div>
  <button class="btn btn-success mt-3">Add movie </button>

</form>