<h2 class="editar">Edit movie</h2>

<form action="/peliculas/update/{{_id}}?_method=PUT " method="POST">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control w-50"
      name="title"
      id="title"
      value="{{title}}"
      placeholder="Enter movie "
    />
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">Year</label>
    <input
      type="text"
      class="form-control w-50"
      name="year"
      id="year"
      value="{{year}}"
      placeholder=" year "
    />
  </div>
  <button class="btn btn-success mt-3">Edit </button>

</form>